.labelContainer {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 10px;
    color: black;
    width: 2.6in;
    height: 2in;
    resize: none;
    box-sizing: border-box;
    white-space: pre-line;
    position: relative;
    background-color: white;
    margin-left: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.lsLabelContainer {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 10px;
    color: black;
    width: 2.5in;
    height: 2in;
    resize: none;
    box-sizing: border-box;
    white-space: pre-line;
    position: relative;
    background-color: white;
    margin-left: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.borderless {
    border-color: white;
    margin: 0 10px;
}

.nameContainer {
    font-size: clamp(0.5rem, 1rem, 1rem);
    line-height: 1.1rem;
    width: 95%;
    margin: 0;
}

.location {
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin: 0.4rem 0 0;
}

.phone {
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin: 0;
}

.expiration {
    font-weight: normal;
    font-size: 0.7rem;
    top: 82%;
    left: 72%;
    position: absolute;
}

.dateMark {
    position: absolute;
    font-size: 0.7rem;
    top: 2%;
    right: 0;
    margin: 0 8px 0 0;
}

.ingredients {
    display: block;
    font-weight: normal;
    position: relative;
    font-size: 0.85rem;
    word-wrap: break-word;
    margin: 0.4rem 0 0;
    line-height: 0.9rem;
}

.none {
    display: none;
}

.pointer {
    cursor: pointer;
}
