.labelContainer {
    border: solid black 1px;
    border-radius: 10px;
    color: black;
    width: 2.6in;
    height: 2in;
    resize: none;
    box-sizing: border-box;
    white-space: pre-line;
    position: relative;
    background-color: white;
    margin-left: 15px;
    text-align: center;
}

.lsLabelContainer {
    border: solid black 1px;
    border-radius: 10px;
    color: black;
    width: 2.5in;
    height: 2in;
    resize: none;
    box-sizing: border-box;
    white-space: pre-line;
    position: relative;
    background-color: white;
    margin-left: 15px;
    text-align: center;
}

.borderless {
    border-color: white;
    margin: 0 10px;
}

.border {
    cursor: pointer;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    font-size: 0.1rem;
    margin: 0.3rem 0 0.2rem;
    padding: 0;
    width: 100%;
}

.display {
    margin: 0;
}

.address {
    left: 20%;
    width: 60%;
    top: 61%;
    position: absolute;
    font-size: 0.8rem;
    margin: 0;
}

.number {
    left: 20%;
    width: 60%;
    top: 87.5%;
    position: absolute;
    font-size: 0.8rem;
    margin: 0;
}

.expiration {
    font-weight: normal;
    font-size: 0.7rem;
    top: 82%;
    left: 72%;
    position: absolute;
}

.dateMark {
    position: absolute;
    font-size: 0.7rem;
    top: 2%;
    right: 0;
    margin: 0 8px 0 0;
}

.ingredients {
    display: block;
    font-weight: normal;
    position: relative;
    font-size: 0.85rem;
    word-wrap: break-word;
    margin: 0 0.5rem;
}
