.bold {
    font-size: 1rem;
    font-weight: bold;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.option {
    display: flex;
    justify-content: end;
    border: solid darkslategray 1px;
    color: black;
    background-color: white;
    padding-left: 6px;
    padding-top: 3px;
    width: 30.65rem;
    height: 1.75rem;
    text-align: start;
    cursor: pointer;
}

.option:hover {
    background-color: lightgray;
}

.subButton {
    position: relative;
    background-color: lightgray;
    height: 1.55rem;
    padding-top: 3px;
    margin-right: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.subButton:hover {
    background-color: darkgray;
}

.subButton + .subButton:hover {
    background-color: darkgray;
}

.altHover {
    background-color: #2097a8;
}

.select {
    background-color: #137885;
}

.jsonSelection {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.25rem 0.5rem;
    color: black;
    background-color: #bbbbbb;
    border: solid black 0.2rem;
}