@media print {
    @page {
        size: letter;
        margin: 0.5in 0.15in;
        padding: 0;
    }

    .printerPageSize {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: block;
    }

    .labelGrid {
        display: grid;
        grid-template-columns: repeat(3, 2.7in);
        grid-template-rows: repeat(5, 2in);
    }

    .footer {
        display: none !important;
    }
}

@media screen {
    color: white;
    background-color: #3C3C3C;
}