.inputContainer {
    display: flex;
    min-width: 300px;
    max-width: 935px;
    margin: 0 0 0.7rem 1rem;
    gap: 10px;
}


.layoutContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.borderless {
    border-color: white;
    margin: 0 10px;
}

.border {
    cursor: pointer;
}

.dateButton {
    background-color: lightgray;
    font-weight: bold;
    height: 2rem;
    padding-top: 7px;
    border-radius: 5px;
    margin: 0;
    gap: 0;
}

.headingAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 1rem;
}

.display {
    margin: 0;
}

.printButton {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.5rem;
}